DB_HOST=containers-us-west-xxx.railway.app
DB_PORT=5432
DB_USER=postgres
DB_PASS=xxxxxxxxxxxxxxxx
DB_NAME=railway

JWT_SECRET=secret-token-jwt
JWT_EXPIRES_IN=12h  

BASE_URL=https://nutech-ppob-api-production.up.railway.app
